body {
    margin: 0;
    padding: 0;
    background: #1b1f27
  }
  div > p{
    transform: translate(0%,15%);
    align-items: center;
    margin-top: -15px;
    font-size: 135%;
  }
  .input-register{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(130%, 2%);
    background-color: #252a34 ;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    width: 25%;

  }
  .InputRegister {
    background-color: rgb(51, 51, 111);
    color:white;
  }
  .input-register > h3 {
    color: red;
    font-size: medium;
     
  }
  .input-register > button{
    width: 55%;
    
  }
  .Input-register2{
    transform: translate(20%);    
  }
