body {
    margin: 0;
    padding: 0;
    background: #1b1f27;
    
    
}
.Options{
    background-color: black;    
    top: 15%;
    right: 15%;
    width: 100%; 
    height: 100px;
    }
    
.Reload {  
    margin-right: 12px;
    right: -10%;
    top: -50px;
    width: 15px;
    
    color: white;
    position: relative;
    font-family:OpenSans,Arial,sans-serif ;
    text-decoration: none;    
}
.Reload:hover {
    color: darkblue;
  }
img{
    width: 100px;
}
.Bell{
    left: 80%;
    top:-80px;
    position: relative;
    cursor: pointer;
    width: 1%;
}
.Bell:hover{
    color: white;
}
.Notification {
    position: absolute;
    top: 60px;
    left: 75%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999; 
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(180deg,gray,white);

  }
  
  .Notification p {
    margin: 0;
   
  }
  
  .Notification button {
    margin-top: 10px;
  }
.config{
  position: relative;
  top: -115%;
  left: 87%;
  cursor: pointer;
  width: 1%;
}
.Config {
  position: relative;
  top: -100%;
  left: 87%;
  cursor: pointer;
  width: 5%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 9999; 
  border-radius: 15px;
  background-image: linear-gradient(180deg, gray, white);
  transform: translate(-15%,-25px);
}

.configuration {
  display: block; 
  margin: 0;
  padding: 5px 0; 
}

.configuration a {
  display: block; 
  margin: 0;
  text-decoration: none; 
  color: black; 
}

.configuration a:hover {
  color: darkblue;
}
